//colors
$blue-dark: #1B294C;
$blue-light: #2c5a81;
$blue-footer: #142f4a;

$green: #1CA297;
$grey:#343435;
$white: white;

//font size
$heading-font-size: 6rem;
$para-font-size:1.5rem;


//font-family
$heading-font-family: 'Bebas Neue', cursive;
$para-font-family: 'Roboto', sans-serif;